<h2 class="fw-bold mt-4" style="color: #1b263b">Evaluaciones</h2>
<div class="row">
  <div class="col">
    <p style="color: rgb(79, 81, 83)">
      Visualiza todas las evaluaciones realizadas desde la app móvil organizadas
      por categoría
    </p>
  </div>
</div>
<div class="row mt-2">
  <div class="col-7 col-sm-2">
    <p style="color: rgb(58, 59, 60); font-weight: 500">Filtral por club</p>
    <select
      class="form-select form-select-sm"
      aria-label="Default select example"
    >
      <option selected>Todos los clubes</option>
      <option value="1">Aguilas Doradas</option>
      <option value="2">Leones Valientes</option>
      <option value="3">Estrella del amanecer</option>
      <option value="4">Conquistadores Unidos</option>
    </select>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="nav-pills-container">
      <div
        class="custom-button-tab"
        (click)="changeTabActive(0)"
        [class.active]="tabActiva === 0"
      >
        <i class="bi bi-person me-2"></i> Uniformidad
      </div>
      <div
        class="custom-button-tab"
        (click)="changeTabActive(1)"
        [class.active]="tabActiva === 1"
      >
        <i class="bi bi-award me-2"></i> Disciplina
      </div>
      <div
        class="custom-button-tab"
        (click)="changeTabActive(2)"
        [class.active]="tabActiva === 2"
      >
        <i class="bi bi-flag me-2"></i> Marcha
      </div>
      <div
        class="custom-button-tab"
        (click)="changeTabActive(3)"
        [class.active]="tabActiva === 3"
      >
        <i class="bi bi-list-check me-2"></i> Pase de Lista
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 align-items-center">
  <div class="col-12 col-sm-6">
    <h4 class="fw-bold mb-0" style="color: #1b263b">{{tituloActual}}</h4>

    <p class="mb-0" style="color: rgb(58, 59, 60); font-weight: 400">
      {{cantidadActual}} evaluaciones
    </p>
  </div>

  <!-- Columna derecha: botones -->
  <div class="col-12 col-sm-6 text-end">
    <button class="btn btn-light" (click)="generatePdf()">
      <i class="bi bi-file-earmark-text"></i> PDF
    </button>
  </div>
</div>

<ng-container *ngIf="tabActiva === 0">
  <div class="row mt-4 mb-4">
    <div class="col-12 col-sm-4">
      <div class="card" #cardToPdf>
        <div class="card-body">
          <div class="row d-flex align-items-center">
            <div class="col-10">
              <h5 class="card-title mt-2">Evaluación de Uniformidad</h5>
            </div>
            <div class="col text-end">
              <span class="badge bg-dark">95%</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <small
                style="color: rgba(106, 107, 108, 0.736); font-weight: 200"
              >
                Nombre del evaluador: <strong>Juan Pérez</strong>
              </small>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <div class="puntuacion">
                <p>Puntuación:</p>
                <h3>92/100</h3>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col observaciones">
              <span>
                <i class="bi bi-file-earmark-text me-2"></i>Observaciones
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                Excelente presentación general, solo faltaron algunos detalles
                menores en insignias.
              </p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col d-flex justify-content-start">
              <div class="botones-accion">
                <button
                  class="btn ver"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  <i class="bi bi-eye"></i>Ver
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="tabActiva === 1">
  <h2>Disciplina</h2>
</ng-container>

<ng-container *ngIf="tabActiva === 2">
  <h2>Marcha</h2>
</ng-container>

<ng-container *ngIf="tabActiva === 3">
  <h2>Lista</h2>
</ng-container>

<!--MODAL-->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col text-end">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4 style="line-height: 10px">Detalle de evaluación</h4>
            <span class="d-block mt-1" style="color: #919fb0"
              >Actualiza la información del club</span
            >
          </div>
        </div>
        <div class="borders-club">
          <div class="row mt-3">
            <div class="col">
              <i class="bi bi-journal-text me-2"></i>
              <span class="fw-medium" style="color: #919fb0">Club</span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <h5>Águilas Doradas</h5>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <div
                class="detalle-club d-flex flex-nowrap align-items-center text-secondary small"
              >
                <div class="datos me-4">
                  <span class="fw-medium">Zona:</span> Norte
                </div>
                <div class="datos me-4">
                  <span class="fw-medium">Miembros:</span> 45
                </div>
                <div class="datos">
                  <span class="fw-medium">Director:</span> Pastor Juan Pérez
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="borders-tipo-evaluacion">
          <div class="row mt-3">
            <div class="col">
              <i class="bi bi-pencil-square me-2"></i>
              <span class="fw-medium" style="color: #919fb0"
                >Tipo de Evaluación</span
              >
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <h5>Uniformidad</h5>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <div
                class="detalle-club d-flex flex-nowrap align-items-center text-secondary small"
              >
                <div class="datos me-4">
                  <span class="fw-medium"
                    >Evaluación de la uniformidad del club</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
